html, body { height: 100%; }

body {
   display: flex;
   align-items: center;
   justify-content: center;
}

.wrapper{
    margin-left:10px;
    margin-right:10px;
}
.errorwrapper{
    display:none;
}

.successwrapper{
    display:none;
}

#spinner{
   display: table;
   margin: 0 auto;
}
